<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>About Us</H1>
    <p>Rebus is an advanced IT company, which is a leader in the IT sphere and has been on the market of Tajikistan for 10 years. Over 10 years of work we have successfully realized more than 150 projects and have more than 100 satisfied customers. Our company develops and provides a wide range of programs, implementing advanced technologies and constantly improving the quality control system of services. <br> The experience of our company allows us to realize large projects and deliver them on time, both in Tajikistan and abroad, helping businesses to achieve high results through innovation. <br>We are always open to new orders and cooperation with both government institutions and international organizations.</p>
</body>
</html>